body{
    font-family: Inter;
    font-size: 10px;
    background-color: #E5E5E5;
    color: #FFF;
    background-color: #051D3B;
}

.conteudo-principal {
    display: flex;
    color: #FFFFFF;
    justify-content: space-between;
}

#community-button p{
    color:rgba(255, 255, 255, 0.7);
}
:-webkit-input-placeholder {
    color: #DFDFDF;
 }