.aluraDev{
    width: 145px;
    height: 34.5px;
}

.barraDeBusca{
    background: rgb(255, 255, 255, 0.16);
    border-radius: 8px;
    width: 752px;
    height: 36px;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
   
}

::placeholder{
    color: wheat;
}
.perfil{
    display: flex;
    justify-content: flex-start;
}
.fotoPerfil{
    width: 32px;
    height: 32px;
    margin-right: 8px;
}

.nomeDoUsuario{
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.container-cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    padding: 32px 32px 40px 32px;
}